body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #004d00;
    font-size: 36px;
    text-align: center;
}

#race-data {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.race-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.race-item:last-child {
    border-bottom: none;
}

.position {
    font-weight: bold;
    font-size: 20px;
    color: #222;
    margin-right: 10px;
}

.driver-info {
    display: flex;
    gap: 10px;
    min-width: 200px;
}

.driver-name {
    font-size: 18px;
    font-weight: bold;
}

.team-name {
    color: #777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 120px;
}

.status {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    min-width: 80px;
}

.status.aktiv {
    background-color: #4caf50;
    color: white;
}

.status.inaktiv {
    background-color: #f44336;
    color: white;
}

.status.unknown {
    background-color: gray;
    color: white;
}

.speed {
    font-weight: bold;
    font-size: 18px;
    min-width: 120px;
    text-align: right;
}

.speed.unbekannt {
    color: gray;
}

.gap {
    font-size: 16px;
    color: #555;
    min-width: 80px;
    text-align: center;
}

.safetycar-alert {
    background: yellow;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid red;
    text-align: center;
}
