#imgVoice{
    left: 631px;
}
#imgSichererOrdner{
    left: 106px;
}
#imgZähler{
    left: 1px;
}
#TimerImg{
    left: 316px;
}
#imgSearch{
    left: 211px;
}
#imgKontakte{
    left: 421px;
}
#imgMathe{
    left: 526px;
}
#imgQuizMaze{
    left: 736px;
}
