#closeButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  font-size: 13px;
}
button {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }