.dark-mode {
    background-color: black;
    color: white;
  }
  .container{
    position: absolute;
    top: 850px;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .switch {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px;
    }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 17px;
  }
  .switch input {display: none;} 

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
  }
  input:checked + .slider {
    background-color: #1C1C1C;
  }
  input:checked + .slider:before {
    transform: translateX(26px);    
  }
  .dark-mode {
    background-color: black;
    color: white;
}

.dark-mode input {
    border-color: white; 
    color: white;
}
.dark-mode button{
    border-color: white; 
    color: white;
}